# the operator/receiver private keys start with "0x" and are in hexadecimal format
# ECDSA private keys that do not have the "0x" prefixed is also acceptable. Ex: TESTNET_OPERATOR_PRIVATE_KEY=bdc6e0a69f2921a78e9af930111334a41d3fab44653c8de0775572c526feea2d)
# the testnet operator keys referenced in the hardhat.config account variable
TESTNET_OPERATOR_PRIVATE_KEY='0x0af3f93851b33cb850e6e25eb1b8deeb8cc7e05ec82ef66a4b2f1babe6a002b5'
# the HashIO testnet relay endpoint specified in the hardhat.config url varibale for the test network
TESTNET_ENDPOINT='https://testnet.hashio.io/api'
